{
  "comments": false,
  "plugins": ["transform-async-to-generator", "transform-object-rest-spread", "source-map-support"],
  "presets": [ 
    [ "env", {
    	"targets": {
    		"node": "8.10" 
    	}
    }]
  ]
}
